<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>TriPlanner - 港漂东南亚出国游规划助手</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/assets/img/favicon.png" rel="icon">
  <link href="../static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static/assets/css/style.css" rel="stylesheet">
 
  <!-- Template JS File -->
  <script type="text/javascript" src="../static/assets/js/main.js"></script>

  <!-- =======================================================
  * Template Name: Tempo - v4.9.1
  * Template URL: https://bootstrapmade.com/tempo-free-onepage-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-between">
      
      <a href="index.html" class="logo-header"><img src="../static/assets/img/homepage/logo/logo-en-white.png" alt="" class="img-fluid"></a>

      <!-- .navbar -->
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="index.html">主页</a></li>
          <li class="dropdown"><a href="explore.html"><span>发现</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="explore.html">发现好去处</a></li>
              <li><a href="login.html">定制游</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="tips.html">交流</a></li>
          <li><a class="nav-link scrollto " href="visa.html">签证</a></li>
          <li><a class="nav-link scrollto" href="login.html">我的</a></li>
          <li><a class="nav-link scrollto" href="login.html">登录/注册</a></li>
          <li><a class="nav-link scrollto" href="about.html">关于</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <section id="banner-about">
    <div class="banner-about-container">
      <h1>关于</h1>
      <p>了解本站详情，欢迎大家入驻出国游规划社群</p>
    </div>
  </section><!-- End Hero Section -->

  <main id="main">

    <!-- ======= About-us Section ======= -->
    <section id="about-us" class="about-us">
      <div class="container">

        <div class="section-title">
          <h2>About Us</h2>
          <h3>关于<span>我们</span></h3>
          <p>查看本站基础信息，了解我们的使命</p>
        </div>

        <div class="about-us-body">
          <p class="p1">“Hi朋友们！你有多久没有体验过出国游的乐趣？或是因为工作太忙、时间不够、信息零散且不够本地化而难以制定旅行规划？随着开放程度的不断提升，是时候用一次精心制定的出国游计划犒劳自己了。那么，地理位置临近又充满神秘感的东南亚你一定不能错过。</p>
          <p class="p2">我们旨在通过集合多平台旅行规划信息、连接旅行者和旅行社，帮助每一位港漂er更加便捷、省心、个性化地规划东南亚出国游行程，让你的旅途规划不再繁琐。以下是本站的使用方法，请大家查收 ♪(･ω･)ﾉ ”</p>

          <div class="row-content">
            <div class="feature-1">
              <div class="icon-1">
                <img src="../static/assets/img/homepage/about/browse.png" alt="browse" width="40%">
                <div class="title-1"><h5>第1步：<span>收藏</span></h5></div>
                <p>浏览本站当地玩乐、地道美食、攻略、交通等页面，一键收藏心仪的内容</p>
              </div>
            </div>
            <div class="feature-2">
              <div class="icon-2">
                <img src="../static/assets/img/homepage/about/compare.png" alt="compare" width="40%">
                <div class="title-2"><h5>第2步：<span>对比</span></h5></div>
                <p>您收藏的内容将会显示在“我的”页面，供您多次查看和对比，自主制定规划</p>
              </div>
            </div>
            <div class="feature-3">
              <div class="icon-3">
                <img src="../static/assets/img/homepage/about/plan.png" alt="plan" width="40%">
                <div class="title-3"><h5>第3步：<span>规划/服务</span></h5></div>
                <p>如需定制规划或签证服务，第三方将直接根据您的收藏和其他要求提供服务</p>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End About-us Section -->

    
    <!-- ======= Members Section ======= -->
    <section id="members" class="members">
      <div class="container">

        <div class="section-title">
          <h2>Members</h2>
          <h3>会员<span>体系</span></h3>
          <p>加入本站会员，享受独家福利和礼包♥</p>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4 class="title"><a href="">独家折扣</a></h4>
              <ul>
                <li><i class="ri-check-double-line"></i>享受会员独家下单折扣，定期发放会员专属优惠券</li>
                <li><i class="ri-check-double-line"></i>订单积分可抵扣现金</li>
              </ul>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4 class="title"><a href="">独享特权</a></h4>
              <ul>
                <li><i class="ri-check-double-line"></i>7天无理由退订服务+退款</li>
                <li><i class="ri-check-double-line"></i>生日月乐享7折下单</li>
              </ul>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4 class="title"><a href="">增值服务</a></h4>
              <ul>
                <li><i class="ri-check-double-line"></i>定期推荐当季最好玩的旅行体验</li>
                <li><i class="ri-check-double-line"></i>邀请亲友入驻返现50hkd</li>
              </ul>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Members Section -->


    <!-- ======= Merchants Section ======= -->
    <section id="merchants" class="merchants">
      <div class="container">

        <div class="section-title">
          <h2>Merchants</h2>
          <h3>旅行社<span>入驻</span></h3>
          <p>入驻本站，发现更广阔的生意和机会</p>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4 class="title"><a href="">0元入驻</a></h4>
              <ul>
                <li><i class="ri-check-double-line"></i>入驻全免费</li>
                <li><i class="ri-check-double-line"></i>0元享受本站日常曝光福利，仅成交后收取20%佣金</li>
              </ul>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4 class="title"><a href="">精准推荐</a></h4>
              <ul>
                <li><i class="ri-check-double-line"></i>向潜在用户推荐您的服务</li>
                <li><i class="ri-check-double-line"></i>免费出具月度运营报告</li>
              </ul>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4 class="title"><a href="">成交福利</a></h4>
              <ul>
                <li><i class="ri-check-double-line"></i>完成订单且收获好评，享受10%佣金折扣</li>
                <li><i class="ri-check-double-line"></i>推荐页前排显示+额外流量</li>
              </ul>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Members Section -->


    <!-- ======= Contact Section ======= -->
    <section id="about-contact" class="about-contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact Us</h2>
          <h3>联系<span>我们</span></h3>
          <p>如有任何疑问或需求，欢迎联络告诉我们</p>
        </div>

        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>地址：</h4>
                <p>香港特别行政区，新界，沙田区</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>邮箱</h4>
                <p>1155177826@link.cuhk.edu.hk</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>电话：</h4>
                <p>+852 6202 6842</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="您的用户名" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="您的邮箱" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="主题" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="具体内容" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">加载中...</div>
                <div class="error-message"></div>
                <div class="sent-message">信息发送成功，感谢您的参与！</div>
              </div>
              <div class="text-center"><button type="submit">提交</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->


<!-- ======= Footer ======= -->
<footer id="footer">

  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6 footer-contact">
          <a href="index.html" class="logo-footer"><img src="../static/assets/img/homepage/logo/logo-en-blue.png" alt="" class="img-fluid-footer"></a>
          <p>
            我们旨在通过集合多平台旅行规划信息、连接旅行者和旅行社，帮助每一位港漂朋友更加便捷、省心、个性化地规划东南亚出国游行程<br>
          </p>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>携手我们</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="about.html">关于我们</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="about.html">会员体系</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="about.html">旅行社入驻</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>友情链接</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="https://flights.ctrip.com/online/channel/domestic?allianceid=4899&sid=1853552&utm_medium=google&utm_campaign=pp&utm_source=googleppc&https://flights.ctrip.com/?allianceid=4899&sid=1853552&utm_medium=google&utm_campaign=pp&utm_source=googleppc&gclid=Cj0KCQiAg_KbBhDLARIsANx7wAz_sSCZoc34gWfEybcdGTuqUe2LWP3htehKPhEnvojUIpLfc3vZkqMaAgQIEALw_wcB&gclsrc=aw.ds&keywordid=296901866639-70570537097">机票预定</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="https://www.ctrip.com/?sid=155989&allianceid=4899&gclid=Cj0KCQiAg_KbBhDLARIsANx7wAyLtQhZOEI_X_1mJ4zGNGLAbHMxDqq64ul3t6UJ7rE-SGrHuFepGqgaAjeQEALw_wcB&gclsrc=aw.ds&keywordid=298703371398-72670506472">酒店预定</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="https://worldweather.wmo.int/zh/home.html">天气查询</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>联系方式</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i><a href="#">1155177826@link.cuhk.edu.hk</a></li>
          </ul>
        </div>

      </div>
    </div>
  </div>

  <div class="container d-md-flex py-4">

    <div class="me-md-auto text-center text-md-start">
      <div class="copyright">
        &copy; Copyright <strong><span>TriPlanner</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/tempo-free-onepage-bootstrap-theme/ -->
        Designed by BootstrapMade</a>
      </div>
    </div>
    <div class="social-links text-center text-md-right pt-3 pt-md-0">
      <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
      <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
      <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
      <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
      <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
    </div>
  </div>
</footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../static/assets/js/main.js"></script>

</body>

</html>