<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>TriPlanner - 港漂东南亚出国游规划助手</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/assets/img/favicon.png" rel="icon">
  <link href="../static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static/assets/css/style.css" rel="stylesheet">
 
  <!-- Template JS File -->
  <script type="text/javascript" src="../static/assets/js/main.js"></script>

  <!-- =======================================================
  * Template Name: Tempo - v4.9.1
  * Template URL: https://bootstrapmade.com/tempo-free-onepage-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-between">
      
      <a href="index.html" class="logo-header"><img src="../static/assets/img/homepage/logo/logo-en-white.png" alt="" class="img-fluid"></a>

      <!-- .navbar -->
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="index.html">主页</a></li>
          <li class="dropdown"><a href="explore.html"><span>发现</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="explore.html">发现好去处</a></li>
              <li><a href="login.html">定制游</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="tips.html">交流</a></li>
          <li><a class="nav-link scrollto " href="visa.html">签证</a></li>
          <li><a class="nav-link scrollto" href="login.html">我的</a></li>
          <li><a class="nav-link scrollto" href="login.html">登录/注册</a></li>
          <li><a class="nav-link scrollto" href="about.html">关于</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <section id="banner-explore">
    <div class="banner-explore-container">
      <h1>发现</h1>
      <p>当地吃喝玩乐好去处，一网打尽</p>
    </div>
  </section><!-- End Hero Section -->

  <main id="main">

    <!-- ======= Filter-Thailand Section ======= -->
    <section id="explore-thailand" class="explore-thailand">
      <div class="container">

        <div class="section-title">
          <h2>Get Started</h2>
          <h3>请选择<span>国家</span></h3>
          <p>点击下方按钮，浏览您想要前往旅行的国家</p>
        </div>

        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="btn-filters">
              <li><a class="btn-thailand" href="explore-thailand.html">泰国</a></li>
              <li><a class="btn-singapore" href="explore-singapore.html">新加坡</a></li>
              <li><a class="btn-malaysia" href="explore-malaysia.html">马来西亚</a></li>
              <li><a class="btn-vietnam" href="explore-vietnam.html">越南</a></li>
              <li><a class="btn-phillipine" href="explore-phillipines.html">菲律宾</a></li>
              <li><a class="btn-myanmar" href="explore-myanmar.html">缅甸</a></li>
              <li><a class="btn-laos" href="explore-laos.html">老挝</a></li>
              <li><a class="btn-indonesia" href="explore-indonesia.html">印度尼西亚</a></li>
            </ul>
          </div>
        </div>

        <div class="sub-section-title">
          <h4>当地玩乐</h4>
        </div>

        <div class="card">
          <div class="container">
      
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">

              <div class="col">
                <div class="card shadow-sm">      
                  <img src="../static/assets/img/explorepage/fun/1.jpg" alt="" style="height:160px; border-radius: 0.375rem; background-size: cover;">
                  
                  <div class="card-body">
                    <h6 class="card-title">曼谷暹罗海洋世界</h6>
                    <p class="card-text">“东南亚首屈一指的水族馆” / 海洋馆</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">

                        <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#explore-spots-1">查看</button>
                        <div class="modal fade fade-in" id="explore-spots-1" tabindex="-1" role="dialog" aria-labelledby="exampleFadeInModalLabel" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content"> 
                              <div class="modal-header"> 
                                <h5 class="modal-title" id="exampleModalLabel">曼谷暹罗海洋世界</h5>
                                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="btn-close"></button>
                              </div> 

                              <div class="modal-body"> 
                                <div class="card mb-3">
                                  <div class="card-body">
                                    <div class="card-tag">
                                      <p>“东南亚首屈一指的水族馆” / 泰国·曼谷 / 🔥热度8.1<br>开放时间：10:00-20:00</p>
                                    </div>
                                    <p class="card-text"><small class="text-muted">门票198元起</small></p>
                                  </div>
                                </div>

                                <div class="spots-around">
                                  <div class="spots-around-food">
                                    <h6>附近美食</h6>
                                    <div class="card mb-3" style="max-width: 540px;">
                                      <div class="row g-0">
                                        <div class="col-md-2">
                                          <img src="../static/assets/img/explorepage/fun/1-1.jpg" class="img-fluid rounded-start" alt="...">
                                        </div>
                                        <div class="col-md-10">
                                          <div class="card-body">
                                            <p class="card-title">Mx cakesbakery</h6>
                                            <p class="card-text">面包甜点 / 4.5分 / 直线距离小于100m</p>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>

                                  <div class="spots-around-shopping">
                                    <h6>附近购物中心</h6>
                                    <div class="card mb-3" style="max-width: 540px;">
                                      <div class="row g-0">
                                        <div class="col-md-2">
                                          <img src="../static/assets/img/explorepage/fun/1-2.jpg" class="img-fluid rounded-start" alt="...">
                                        </div>
                                        <div class="col-md-10">
                                          <div class="card-body">
                                            <p class="card-title">暹罗百丽宫</h6>
                                            <p class="card-text">“购买奢侈品好去处” / 4.7分 / 直线距离小于100m</p>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                                                  
                              <div class="modal-footer">
                                <button class="btn btn-secondary btn-sm" type="button" data-bs-dismiss="modal">关闭</button>
                              </div> 
                            </div> 
                          </div>
                        </div>

                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="login.html">收藏</a></button>
                      </div>
                      <small class="text-muted">🔥8.1</small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card shadow-sm">      
                  <img src="../static/assets/img/explorepage/fun/2.png" alt="" style="height:160px; border-radius: 0.375rem; background-size: cover;">
                  
                  <div class="card-body">
                    <h6 class="card-title">大皇宫</h6>
                    <p class="card-text">“曼谷王朝的象征地标” / 文化古迹</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">

                        <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#explore-spots-2">查看</button>
                        <div class="modal fade fade-in" id="explore-spots-2" tabindex="-1" role="dialog" aria-labelledby="exampleFadeInModalLabel" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content"> 
                              <div class="modal-header"> 
                                <h5 class="modal-title" id="exampleModalLabel">大皇宫</h5>
                                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="btn-close"></button>
                              </div> 

                              <div class="modal-body"> 
                                <div class="card mb-3">
                                  <div class="card-body">
                                    <div class="card-tag">
                                      <p>“曼谷王朝的象征地标” / 泰国·曼谷 / 🔥热度8.0<br>开放时间：08:30-15:30</p>
                                    </div>
                                    <p class="card-text"><small class="text-muted">门票价格以景区现场公示为准</small></p>
                                  </div>
                                </div>

                                <div class="spots-around">
                                  <div class="spots-around-food">
                                    <h6>附近美食</h6>
                                    <div class="card mb-3" style="max-width: 540px;">
                                      <div class="row g-0">
                                        <div class="col-md-2">
                                          <img src="../static/assets/img/explorepage/fun/2-1.jpg" class="img-fluid rounded-start" alt="...">
                                        </div>
                                        <div class="col-md-10">
                                          <div class="card-body">
                                            <p class="card-title">Bote Steak Coffee House</h6>
                                            <p class="card-text">东南亚菜 / 4.6分 / 直线距离小于100m</p>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>

                                  <div class="spots-around-shopping">
                                    <h6>附近购物中心</h6>
                                    <div class="card mb-3" style="max-width: 540px;">
                                      <div class="row g-0">
                                        <div class="col-md-2">
                                          <img src="../static/assets/img/explorepage/fun/2-2.jpg" class="img-fluid rounded-start" alt="...">
                                        </div>
                                        <div class="col-md-10">
                                          <div class="card-body">
                                            <p class="card-title">娜莱雅（大皇宫店）</h6>
                                            <p class="card-text">服饰鞋包 / 4.6分 / 直线距离273m</p>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                                                  
                              <div class="modal-footer">
                                <button class="btn btn-secondary btn-sm" type="button" data-bs-dismiss="modal">关闭</button>
                              </div> 
                            </div> 
                          </div>
                        </div>

                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="login.html">收藏</a></button>
                      </div>
                      <small class="text-muted">🔥8.0</small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card shadow-sm">      
                  <img src="../static/assets/img/explorepage/fun/3.png" alt="" style="height:160px; border-radius: 0.375rem; background-size: cover;">
                  
                  <div class="card-body">
                    <h6 class="card-title">清迈古城</h6>
                    <p class="card-text">“漫步古城享受悠闲时光” / 古镇古村</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">

                        <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#explore-spots-3">查看</button>
                        <div class="modal fade fade-in" id="explore-spots-3" tabindex="-1" role="dialog" aria-labelledby="exampleFadeInModalLabel" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content"> 
                              <div class="modal-header"> 
                                <h5 class="modal-title" id="exampleModalLabel">清迈古城</h5>
                                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="btn-close"></button>
                              </div> 

                              <div class="modal-body"> 
                                <div class="card mb-3">
                                  <div class="card-body">
                                    <div class="card-tag">
                                      <p>“漫步古城享受悠闲时光” / 泰国·清迈 / 🔥热度6.8<br>开放时间：以景区现场公示为准</p>
                                    </div>
                                    <p class="card-text"><small class="text-muted">门票198元起</small></p>
                                  </div>
                                </div>

                                <div class="spots-around">
                                  <div class="spots-around-food">
                                    <h6>附近美食</h6>
                                    <div class="card mb-3" style="max-width: 540px;">
                                      <div class="row g-0">
                                        <div class="col-md-2">
                                          <img src="../static/assets/img/explorepage/fun/3-1.jpg" class="img-fluid rounded-start" alt="...">
                                        </div>
                                        <div class="col-md-10">
                                          <div class="card-body">
                                            <p class="card-title">The Old City Inn</h6>
                                            <p class="card-text">东南亚菜 / 4.5分 / 直线距离小于100m</p>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>

                                  <div class="spots-around-shopping">
                                    <h6>附近购物中心</h6>
                                    <div class="card mb-3" style="max-width: 540px;">
                                      <div class="row g-0">
                                        <div class="col-md-2">
                                          <img src="../static/assets/img/explorepage/fun/3-2.jpg" class="img-fluid rounded-start" alt="...">
                                        </div>
                                        <div class="col-md-10">
                                          <div class="card-body">
                                            <p class="card-title">草本植物（周日市场店）</h6>
                                            <p class="card-text">彩妆护肤 / 4.3分 / 直线距离277m</p>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                                                  
                              <div class="modal-footer">
                                <button class="btn btn-secondary btn-sm" type="button" data-bs-dismiss="modal">关闭</button>
                              </div> 
                            </div> 
                          </div>
                        </div>

                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="login.html">收藏</a></button>
                      </div>
                      <small class="text-muted">🔥6.8</small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card shadow-sm">      
                  <img src="../static/assets/img/explorepage/fun/4.jpg" alt="" style="height:160px; border-radius: 0.375rem; background-size: cover;">
                  
                  <div class="card-body">
                    <h6 class="card-title">清迈夜间动物园</h6>
                    <p class="card-text">“观光车夜游亲近小动物” / 动物园</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">

                        <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#explore-spots-4">查看</button>
                        <div class="modal fade fade-in" id="explore-spots-4" tabindex="-1" role="dialog" aria-labelledby="exampleFadeInModalLabel" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content"> 
                              <div class="modal-header"> 
                                <h5 class="modal-title" id="exampleModalLabel">清迈夜间动物园</h5>
                                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="btn-close"></button>
                              </div> 

                              <div class="modal-body"> 
                                <div class="card mb-3">
                                  <div class="card-body">
                                    <div class="card-tag">
                                      <p>“观光车夜游亲近小动物” / 泰国·清迈 / 🔥热度7.3<br>开放时间：11:00-21:00</p>
                                    </div>
                                    <p class="card-text"><small class="text-muted">门票20元起</small></p>
                                  </div>
                                </div>

                                <div class="spots-around">
                                  <div class="spots-around-food">
                                    <h6>附近美食</h6>
                                    <div class="card mb-3" style="max-width: 540px;">
                                      <div class="row g-0">
                                        <div class="col-md-2">
                                          <img src="../static/assets/img/explorepage/fun/4-1.jpg" class="img-fluid rounded-start" alt="...">
                                        </div>
                                        <div class="col-md-10">
                                          <div class="card-body">
                                            <p class="card-title">Praw % Plean Green House Cafe</h6>
                                            <p class="card-text">东南亚菜 / 暂无评分 / 直线距离1.2km</p>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>

                                  <div class="spots-around-shopping">
                                    <h6>附近购物中心</h6>
                                    <div class="card mb-3" style="max-width: 540px;">
                                      <div class="row g-0">
                                        <div class="col-md-2">
                                          <img src="../static/assets/img/explorepage/fun/4-2.jpg" class="img-fluid rounded-start" alt="...">
                                        </div>
                                        <div class="col-md-10">
                                          <div class="card-body">
                                            <p class="card-title">清迈王权免税店（清迈国际机场店）</h6>
                                            <p class="card-text">免税店 / 4.4分 / 直线距离6.1km</p>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                                                  
                              <div class="modal-footer">
                                <button class="btn btn-secondary btn-sm" type="button" data-bs-dismiss="modal">关闭</button>
                              </div> 
                            </div> 
                          </div>
                        </div>

                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="login.html">收藏</a></button>
                      </div>
                      <small class="text-muted">🔥7.3</small>
                    </div>
                  </div>
                </div>
              </div>
      
            </div>
          </div>
        </div>

        <div class="sub-section-title">
          <h4>地道美食</h4>
        </div>

        <div class="card">
          <div class="container">
      
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">

              <div class="col">
                <div class="card shadow-sm">      
                  <img src="../static/assets/img/explorepage/food/1.jpg" alt="" style="height:160px; border-radius: 0.375rem; background-size: cover;">
                  
                  <div class="card-body">
                    <h6 class="card-title">上味泰餐馆</h6>
                    <p class="card-text">“入选十大正宗泰国菜” / 东南亚菜</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">

                        <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#explore-food-1">查看</button>
                        <div class="modal fade fade-in" id="explore-food-1" tabindex="-1" role="dialog" aria-labelledby="exampleFadeInModalLabel" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content"> 
                              <div class="modal-header"> 
                                <h5 class="modal-title" id="exampleModalLabel">上味泰餐馆</h5>
                                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="btn-close"></button>
                              </div> 

                              <div class="modal-body"> 
                                <div class="card mb-3">
                                  <div class="card-body">
                                    <div class="card-tag">
                                      <p>“入选十大正宗泰国菜” / 泰国·曼谷 / ⭐评分4.5<br>人均155元</p>
                                    </div>
                                    <p class="card-text"><small class="text-muted">开放时间：10:30-21:00</small></p>
                                  </div>
                                </div>

                                <div class="food-recommendation">
                                  <h6>推荐菜</h6>
                                  <div class="card mb-3" style="max-width: 540px;">
                                    <div class="row g-0">
                                      <div class="col-md-2">
                                        <img src="../static/assets/img/explorepage/food/1-1.jpg" class="img-fluid rounded-start" alt="...">
                                      </div>
                                      <div class="col-md-10">
                                        <div class="card-body">
                                          <p class="card-title">泰国春卷</h6>
                                          <p class="card-text">其他：咖喱蟹肉 / 泰式菠萝饭 / 柠檬鱼</p>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                                                  
                              <div class="modal-footer">
                                <button class="btn btn-secondary btn-sm" type="button" data-bs-dismiss="modal">关闭</button>
                              </div> 
                            </div> 
                          </div>
                        </div>

                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="login.html">收藏</a></button>
                      </div>
                      <small class="text-muted">⭐4.5</small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card shadow-sm">      
                  <img src="../static/assets/img/explorepage/food/2.jpg" alt="" style="height:160px; border-radius: 0.375rem; background-size: cover;">
                  
                  <div class="card-body">
                    <h6 class="card-title">Inter Restaurant</h6>
                    <p class="card-text">“入选十大正宗泰国菜” / 东南亚菜</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">

                        <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#explore-food-2">查看</button>
                        <div class="modal fade fade-in" id="explore-food-2" tabindex="-1" role="dialog" aria-labelledby="exampleFadeInModalLabel" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content"> 
                              <div class="modal-header"> 
                                <h5 class="modal-title" id="exampleModalLabel">Inter Restaurant</h5>
                                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="btn-close"></button>
                              </div> 

                              <div class="modal-body"> 
                                <div class="card mb-3">
                                  <div class="card-body">
                                    <div class="card-tag">
                                      <p>“入选十大正宗泰国菜” / 泰国·曼谷 / ⭐评分4.6<br>人均65元</p>
                                    </div>
                                    <p class="card-text"><small class="text-muted">开放时间：10:00-22:00</small></p>
                                  </div>
                                </div>

                                <div class="food-recommendation">
                                  <h6>推荐菜</h6>
                                  <div class="card mb-3" style="max-width: 540px;">
                                    <div class="row g-0">
                                      <div class="col-md-2">
                                        <img src="../static/assets/img/explorepage/food/2-1.jpg" class="img-fluid rounded-start" alt="...">
                                      </div>
                                      <div class="col-md-10">
                                        <div class="card-body">
                                          <p class="card-title">海鲜汤</h6>
                                          <p class="card-text">其他：冬阴功汤 / 海鲜炒米粉 / 空筒粉</p>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                                                  
                              <div class="modal-footer">
                                <button class="btn btn-secondary btn-sm" type="button" data-bs-dismiss="modal">关闭</button>
                              </div> 
                            </div> 
                          </div>
                        </div>

                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="login.html">收藏</a></button>
                      </div>
                      <small class="text-muted">⭐4.6</small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card shadow-sm">      
                  <img src="../static/assets/img/explorepage/food/3.jpg" alt="" style="height:160px; border-radius: 0.375rem; background-size: cover;">
                  
                  <div class="card-body">
                    <h6 class="card-title">The House Of Smooth Curry</h6>
                    <p class="card-text">“入选十大正宗泰国菜” / 东南亚菜</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">

                        <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#explore-food-3">查看</button>
                        <div class="modal fade fade-in" id="explore-food-3" tabindex="-1" role="dialog" aria-labelledby="exampleFadeInModalLabel" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content"> 
                              <div class="modal-header"> 
                                <h5 class="modal-title" id="exampleModalLabel">The House Of Smooth Curry</h5>
                                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="btn-close"></button>
                              </div> 

                              <div class="modal-body"> 
                                <div class="card mb-3">
                                  <div class="card-body">
                                    <div class="card-tag">
                                      <p>“入选十大正宗泰国菜” / 泰国·曼谷 / ⭐评分4.6<br>人均510元</p>
                                    </div>
                                    <p class="card-text"><small class="text-muted">开放时间：11:30-14:30 17:30-22:00</small></p>
                                  </div>
                                </div>

                                <div class="food-recommendation">
                                  <h6>推荐菜</h6>
                                  <div class="card mb-3" style="max-width: 540px;">
                                    <div class="row g-0">
                                      <div class="col-md-2">
                                        <img src="../static/assets/img/explorepage/food/3-1.jpg" class="img-fluid rounded-start" alt="...">
                                      </div>
                                      <div class="col-md-10">
                                        <div class="card-body">
                                          <p class="card-title">芒果糯米饭</h6>
                                          <p class="card-text">其他：传统暹罗小吃 / 碳烤腌猪排 / 青芒果炸对虾沙拉</p>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                                                  
                              <div class="modal-footer">
                                <button class="btn btn-secondary btn-sm" type="button" data-bs-dismiss="modal">关闭</button>
                              </div> 
                            </div> 
                          </div>
                        </div>

                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="login.html">收藏</a></button>
                      </div>
                      <small class="text-muted">⭐4.6</small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card shadow-sm">      
                  <img src="../static/assets/img/explorepage/food/4.jpg" alt="" style="height:160px; border-radius: 0.375rem; background-size: cover;">
                  
                  <div class="card-body">
                    <h6 class="card-title">Mae Varee Fruit Shop</h6>
                    <p class="card-text">“入选十大正宗泰国菜” / 面包甜点</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">

                        <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#explore-food-4">查看</button>
                        <div class="modal fade fade-in" id="explore-food-4" tabindex="-1" role="dialog" aria-labelledby="exampleFadeInModalLabel" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content"> 
                              <div class="modal-header"> 
                                <h5 class="modal-title" id="exampleModalLabel">Mae Varee Fruit Shop</h5>
                                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="btn-close"></button>
                              </div> 

                              <div class="modal-body"> 
                                <div class="card mb-3">
                                  <div class="card-body">
                                    <div class="card-tag">
                                      <p>“入选十大正宗泰国菜” / 泰国·曼谷 / ⭐评分4.3<br>人均35元</p>
                                    </div>
                                    <p class="card-text"><small class="text-muted">开放时间：06:00-22:00</small></p>
                                  </div>
                                </div>

                                <div class="food-recommendation">
                                  <h6>推荐菜</h6>
                                  <div class="card mb-3" style="max-width: 540px;">
                                    <div class="row g-0">
                                      <div class="col-md-2">
                                        <img src="../static/assets/img/explorepage/food/4-1.jpg" class="img-fluid rounded-start" alt="...">
                                      </div>
                                      <div class="col-md-10">
                                        <div class="card-body">
                                          <p class="card-title">芒果糯米饭</h6>
                                          <p class="card-text">其他：粉蕉糯米粽 / 菠萝饭 / 鸡蛋布丁</p>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                                                  
                              <div class="modal-footer">
                                <button class="btn btn-secondary btn-sm" type="button" data-bs-dismiss="modal">关闭</button>
                              </div> 
                            </div> 
                          </div>
                        </div>

                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="login.html">收藏</a></button>
                      </div>
                      <small class="text-muted">⭐4.3</small>
                    </div>
                  </div>
                </div>
              </div>
      
            </div>
          </div>
        </div>

        <div class="sub-section-title">
          <h4>交通出行</h4>
        </div>

        <!-- ======= Transportation Section ======= -->
        <section id="faq" class="faq">
          <div class="container">

            <ul class="faq-list">

              <li>
                <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">泰国主要旅游城市的机场有哪些？如何通勤最方便？<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq1" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
                  </p>
                </div>
              </li>

              <li>
                <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">泰国国内火车票、汽车票在哪里可以买到？大致票价是怎样的？<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq2" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
                  </p>
                </div>
              </li>

              <li>
                <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">在泰国打出租车时，有哪些注意事项？ <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq3" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis
                  </p>
                </div>
              </li>

            </ul>

          </div>
        </section><!-- End Transportation Section -->


      </div>
    </section><!-- End Filter-Thailand Section -->



  </main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">

  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6 footer-contact">
          <a href="index.html" class="logo-footer"><img src="../static/assets/img/homepage/logo/logo-en-blue.png" alt="" class="img-fluid-footer"></a>
          <p>
            我们旨在通过集合多平台旅行规划信息、连接旅行者和旅行社，帮助每一位港漂朋友更加便捷、省心、个性化地规划东南亚出国游行程<br>
          </p>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>携手我们</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="about.html">关于我们</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="about.html">会员体系</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="about.html">旅行社入驻</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>友情链接</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="https://flights.ctrip.com/online/channel/domestic?allianceid=4899&sid=1853552&utm_medium=google&utm_campaign=pp&utm_source=googleppc&https://flights.ctrip.com/?allianceid=4899&sid=1853552&utm_medium=google&utm_campaign=pp&utm_source=googleppc&gclid=Cj0KCQiAg_KbBhDLARIsANx7wAz_sSCZoc34gWfEybcdGTuqUe2LWP3htehKPhEnvojUIpLfc3vZkqMaAgQIEALw_wcB&gclsrc=aw.ds&keywordid=296901866639-70570537097">机票预定</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="https://www.ctrip.com/?sid=155989&allianceid=4899&gclid=Cj0KCQiAg_KbBhDLARIsANx7wAyLtQhZOEI_X_1mJ4zGNGLAbHMxDqq64ul3t6UJ7rE-SGrHuFepGqgaAjeQEALw_wcB&gclsrc=aw.ds&keywordid=298703371398-72670506472">酒店预定</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="https://worldweather.wmo.int/zh/home.html">天气查询</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>联系方式</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i><a href="#">1155177826@link.cuhk.edu.hk</a></li>
          </ul>
        </div>

      </div>
    </div>
  </div>

  <div class="container d-md-flex py-4">

    <div class="me-md-auto text-center text-md-start">
      <div class="copyright">
        &copy; Copyright <strong><span>TriPlanner</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/tempo-free-onepage-bootstrap-theme/ -->
        Designed by BootstrapMade</a>
      </div>
    </div>
    <div class="social-links text-center text-md-right pt-3 pt-md-0">
      <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
      <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
      <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
      <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
      <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
    </div>
  </div>
</footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../static/assets/js/main.js"></script>

</body>

</html>