<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>TriPlanner - 港漂东南亚出国游规划助手</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/assets/img/favicon.png" rel="icon">
  <link href="../static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static/assets/css/style.css" rel="stylesheet">
 
  <!-- Template JS File -->
  <script type="text/javascript" src="../static/assets/js/main.js"></script>

  <!-- =======================================================
  * Template Name: Tempo - v4.9.1
  * Template URL: https://bootstrapmade.com/tempo-free-onepage-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-between">
      
      <a href="index.html" class="logo-header"><img src="../static/assets/img/homepage/logo/logo-en-white.png" alt="" class="img-fluid"></a>

      <!-- .navbar -->
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="index.html">主页</a></li>
          <li class="dropdown"><a href="explore.html"><span>发现</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="explore.html">发现好去处</a></li>
              <li><a href="login.html">定制游</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="tips.html">交流</a></li>
          <li><a class="nav-link scrollto " href="visa.html">签证</a></li>
          <li><a class="nav-link scrollto" href="login.html">我的</a></li>
          <li><a class="nav-link scrollto" href="login.html">登录/注册</a></li>
          <li><a class="nav-link scrollto" href="about.html">关于</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <section id="hero">
    <div class="hero-container">
      <div id="heroCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">
        <ol id="hero-carousel-indicators" class="carousel-indicators"></ol>
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active" style="background-image: url('../static/assets/img/homepage/carousel/carousel-5.jpg')">
            <div class="carousel-container">
              <div class="container">
                <h2 class="animate__animated animate__fadeInDown">东南亚旅行规划助手</h2>
                <p class="animate__animated animate__fadeInUp">帮助在港旅行者发掘东南亚国家最棒的景点、行程与难忘的当地体验，开启精彩的玩乐世界！</p>
                <a href="#featured-services" class="btn-get-started scrollto animate__animated animate__fadeInUp">去发现</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Hero Section -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About</h2>
          <h3>我们的<span>功能</span></h3>
          <p>充分利用本站信息，助您高效完成旅行规划</p>
        </div>

        <div class="row-content">
          <div class="feature-1">
            <div class="icon-1">
              <img src="../static/assets/img/homepage/about/browse.png" alt="browse" width="40%">
              <div class="title-1"><h5>第1步：收藏</h5></div>
              <p>浏览本站当地玩乐、地道美食、攻略、交通等页面，一键收藏心仪的内容</p>
            </div>
          </div>
          <div class="feature-2">
            <div class="icon-2">
              <img src="../static/assets/img/homepage/about/compare.png" alt="compare" width="40%">
              <div class="title-2"><h5>第2步：对比</h5></div>
              <p>您收藏的内容将会显示在“我的”页面，供您多次查看和对比，自主制定规划</p>
            </div>
          </div>
          <div class="feature-3">
            <div class="icon-3">
              <img src="../static/assets/img/homepage/about/plan.png" alt="plan" width="40%">
              <div class="title-3"><h5>第3步：规划/服务</h5></div>
              <p>如需定制规划或签证服务，第三方将直接根据您的收藏和其他要求提供服务</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Explore Section ======= -->
    <section id="explore" class="explore">
      <div class="container">

        <div class="section-title">
          <h2>Explore</h2>
          <h3>探索当地<span>玩乐</span></h3>
          <p>探索当地吃喝玩乐好去处，核心行程一网打尽</p>
        </div>

        <div class="top_catagory_area section-padding-80 clearfix">
          <div class="container">
              <div class="row justify-content-center">
                 
                  <div class="col-12 col-sm-6 col-md-4">
                      <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img" style="background-image: url('../static/assets/img/homepage/explore/spots.jpg'); background-size: cover;">
                          <div class="catagory-content">
                              <a href="#">当地玩乐</a>
                          </div>
                      </div>
                  </div>
                  
                  <div class="col-12 col-sm-6 col-md-4">
                      <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img" style="background-image: url('../static/assets/img/homepage/explore/food.jpg');background-size: cover;">
                          <div class="catagory-content">
                              <a href="#">地道美食</a>
                          </div>
                      </div>
                  </div>
                  
                  <div class="col-12 col-sm-6 col-md-4">
                      <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img" style="background-image: url('../static/assets/img/homepage/explore/transportation.jpg');background-size: cover;">
                          <div class="catagory-content">
                              <a href="#">交通出行</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </section><!-- End Explore Section -->



    <!-- ======= Tips Section ======= -->
    <section id="tips" class="tips">
      <div class="container">

        <div class="section-title">
          <h2>Tips</h2>
          <h3>发现游玩<span>攻略</span></h3>
          <p>看看去过的人怎么说，让自由行也能不虚此行</p>
        </div>

        <div class="row tips-container">

          <div class="col-lg-3 col-md-6">
            <div class="box">
                <h5>泰国</h3>
                <p>热门城市：曼谷、清迈</p>
                <div class="btn-wrap">
                  <a href="tips.html" class="btn-buy">查看更多</a>
                </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="box">
              <h5>新加坡</h3>
              <p>热门城市：新加坡</p>
              <div class="btn-wrap">
                <a href="tips.html" class="btn-buy">查看更多</a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="box">
              <h5>马来西亚</h3>
              <p>热门城市：吉隆坡</p>
              <div class="btn-wrap">
                <a href="tips.html" class="btn-buy">查看更多</a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="box">
              <h5>越南</h3>
              <p>热门城市：胡志明市</p>
              <div class="btn-wrap">
                <a href="tips.html" class="btn-buy">查看更多</a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="box">
              <h5>菲律宾</h3>
              <p>热门城市：马尼拉</p>
              <div class="btn-wrap">
                <a href="tips.html" class="btn-buy">查看更多</a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="box">
              <h5>缅甸</h3>
              <p>热门城市：仰光</p>
              <div class="btn-wrap">
                <a href="tips.html" class="btn-buy">查看更多</a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="box">
              <h5>老挝</h3>
              <p>热门城市：万象</p>
              <div class="btn-wrap">
                <a href="tips.html" class="btn-buy">查看更多</a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="box">
              <h5>印度尼西亚</h3>
              <p>热门城市：巴厘岛</p>
              <div class="btn-wrap">
                <a href="tips.html" class="btn-buy">查看更多</a>
              </div>
            </div>
          </div>

          
        </div>

      </div>
    </section><!-- End Tips Section -->

    
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
          <h3>联系<span>我们</span></h3>
          <p>如有任何疑问或需求，欢迎联络告诉我们</p>
        </div>

        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>地址：</h4>
                <p>香港特别行政区，新界，沙田区</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>邮箱</h4>
                <p>1155177826@link.cuhk.edu.hk</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>电话：</h4>
                <p>+852 6202 6842</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="您的用户名" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="您的邮箱" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="主题" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="具体内容" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">加载中...</div>
                <div class="error-message"></div>
                <div class="sent-message">信息发送成功，感谢您的参与！</div>
              </div>
              <div class="text-center"><button type="submit">提交</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <a href="index.html" class="logo-footer"><img src="../static/assets/img/homepage/logo/logo-en-blue.png" alt="" class="img-fluid-footer"></a>
            <p>
              我们旨在通过集合多平台旅行规划信息、连接旅行者和旅行社，帮助每一位港漂朋友更加便捷、省心、个性化地规划东南亚出国游行程<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>携手我们</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="about.html">关于我们</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="about.html">会员体系</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="about.html">旅行社入驻</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>友情链接</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="https://flights.ctrip.com/online/channel/domestic?allianceid=4899&sid=1853552&utm_medium=google&utm_campaign=pp&utm_source=googleppc&https://flights.ctrip.com/?allianceid=4899&sid=1853552&utm_medium=google&utm_campaign=pp&utm_source=googleppc&gclid=Cj0KCQiAg_KbBhDLARIsANx7wAz_sSCZoc34gWfEybcdGTuqUe2LWP3htehKPhEnvojUIpLfc3vZkqMaAgQIEALw_wcB&gclsrc=aw.ds&keywordid=296901866639-70570537097">机票预定</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://www.ctrip.com/?sid=155989&allianceid=4899&gclid=Cj0KCQiAg_KbBhDLARIsANx7wAyLtQhZOEI_X_1mJ4zGNGLAbHMxDqq64ul3t6UJ7rE-SGrHuFepGqgaAjeQEALw_wcB&gclsrc=aw.ds&keywordid=298703371398-72670506472">酒店预定</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://worldweather.wmo.int/zh/home.html">天气查询</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>联系方式</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i><a href="#">1155177826@link.cuhk.edu.hk</a></li>
            </ul>
          </div>

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>TriPlanner</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/tempo-free-onepage-bootstrap-theme/ -->
          Designed by BootstrapMade</a>
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../static/assets/js/main.js"></script>

</body>

</html>