<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>TriPlanner - 港漂东南亚出国游规划助手</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/assets/img/favicon.png" rel="icon">
  <link href="../static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static/assets/css/style.css" rel="stylesheet">
 
  <!-- Template JS File -->
  <script type="text/javascript" src="../static/assets/js/main.js"></script>

  <!-- =======================================================
  * Template Name: Tempo - v4.9.1
  * Template URL: https://bootstrapmade.com/tempo-free-onepage-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-between">
      
      <a href="index.html" class="logo-header"><img src="../static/assets/img/homepage/logo/logo-en-white.png" alt="" class="img-fluid"></a>

      <!-- .navbar -->
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="index.html">主页</a></li>
          <li class="dropdown"><a href="explore.html"><span>发现</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="explore.html">发现好去处</a></li>
              <li><a href="login.html">定制游</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="tips.html">交流</a></li>
          <li><a class="nav-link scrollto " href="visa.html">签证</a></li>
          <li><a class="nav-link scrollto" href="login.html">我的</a></li>
          <li><a class="nav-link scrollto" href="login.html">登录/注册</a></li>
          <li><a class="nav-link scrollto" href="about.html">关于</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <section id="banner-tips">
    <div class="banner-tips-container">
      <h1>交流</h1>
      <p>看看去过的人怎么说，让自由行不虚此行</p>
    </div>
  </section><!-- End Hero Section -->

  <main id="main">

    <!-- ======= Tips Section ======= -->
    <section id="tips" class="tips">
      <div class="container">

        <div class="section-title">
          <h2>Thailand</h2>
          <h3>泰国</h3>
        </div>

        <div class="card">
          <div class="container">
      
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">

              <div class="col">
                <div class="card shadow-sm">      
                  <img src="../static/assets/img/explorepage/fun/1.jpg" alt="" style="height:160px; border-radius: 0.375rem; background-size: cover;">
                  
                  <div class="card-body">
                    <h6 class="card-title">曼谷文艺玩法大总结，这么玩才够范！</h6>
                    <p class="card-text">目的地：曼谷</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://www.mafengwo.cn/gonglve/ziyouxing/54304.html">查看</a></button>
                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="login.html">收藏</a></button>
                      </div>
                      <small class="text-muted">文艺玩法盘点</small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card shadow-sm">      
                  <img src="../static/assets/img/explorepage/fun/1.jpg" alt="" style="height:160px; border-radius: 0.375rem; background-size: cover;">
                  
                  <div class="card-body">
                    <h6 class="card-title">曼谷文艺玩法大总结，这么玩才够范！</h6>
                    <p class="card-text">目的地：曼谷</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://www.mafengwo.cn/gonglve/ziyouxing/54304.html">查看</a></button>
                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="login.html">收藏</a></button>
                      </div>
                      <small class="text-muted">文艺玩法盘点</small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card shadow-sm">      
                  <img src="../static/assets/img/explorepage/fun/1.jpg" alt="" style="height:160px; border-radius: 0.375rem; background-size: cover;">
                  
                  <div class="card-body">
                    <h6 class="card-title">曼谷文艺玩法大总结，这么玩才够范！</h6>
                    <p class="card-text">目的地：曼谷</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://www.mafengwo.cn/gonglve/ziyouxing/54304.html">查看</a></button>
                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="login.html">收藏</a></button>
                      </div>
                      <small class="text-muted">文艺玩法盘点</small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card shadow-sm">      
                  <img src="../static/assets/img/explorepage/fun/1.jpg" alt="" style="height:160px; border-radius: 0.375rem; background-size: cover;">
                  
                  <div class="card-body">
                    <h6 class="card-title">曼谷文艺玩法大总结，这么玩才够范！</h6>
                    <p class="card-text">目的地：曼谷</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://www.mafengwo.cn/gonglve/ziyouxing/54304.html">查看</a></button>
                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="login.html">收藏</a></button>
                      </div>
                      <small class="text-muted">文艺玩法盘点</small>
                    </div>
                  </div>
                </div>
              </div>
      
            </div>
          </div>
        </div>

        <div class="section-title">
          <h2>Singapore</h2>
          <h3>新加坡</h3>
        </div>

        <div class="card">
          <div class="container">
      
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">

              <div class="col">
                <div class="card shadow-sm">      
                  <img src="../static/assets/img/explorepage/fun/1.jpg" alt="" style="height:160px; border-radius: 0.375rem; background-size: cover;">
                  
                  <div class="card-body">
                    <h6 class="card-title">曼谷文艺玩法大总结，这么玩才够范！</h6>
                    <p class="card-text">目的地：曼谷</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://www.mafengwo.cn/gonglve/ziyouxing/54304.html">查看</a></button>
                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="login.html">收藏</a></button>
                      </div>
                      <small class="text-muted">文艺玩法盘点</small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card shadow-sm">      
                  <img src="../static/assets/img/explorepage/fun/1.jpg" alt="" style="height:160px; border-radius: 0.375rem; background-size: cover;">
                  
                  <div class="card-body">
                    <h6 class="card-title">曼谷文艺玩法大总结，这么玩才够范！</h6>
                    <p class="card-text">目的地：曼谷</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://www.mafengwo.cn/gonglve/ziyouxing/54304.html">查看</a></button>
                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="login.html">收藏</a></button>
                      </div>
                      <small class="text-muted">文艺玩法盘点</small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card shadow-sm">      
                  <img src="../static/assets/img/explorepage/fun/1.jpg" alt="" style="height:160px; border-radius: 0.375rem; background-size: cover;">
                  
                  <div class="card-body">
                    <h6 class="card-title">曼谷文艺玩法大总结，这么玩才够范！</h6>
                    <p class="card-text">目的地：曼谷</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://www.mafengwo.cn/gonglve/ziyouxing/54304.html">查看</a></button>
                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="login.html">收藏</a></button>
                      </div>
                      <small class="text-muted">文艺玩法盘点</small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card shadow-sm">      
                  <img src="../static/assets/img/explorepage/fun/1.jpg" alt="" style="height:160px; border-radius: 0.375rem; background-size: cover;">
                  
                  <div class="card-body">
                    <h6 class="card-title">曼谷文艺玩法大总结，这么玩才够范！</h6>
                    <p class="card-text">目的地：曼谷</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://www.mafengwo.cn/gonglve/ziyouxing/54304.html">查看</a></button>
                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="login.html">收藏</a></button>
                      </div>
                      <small class="text-muted">文艺玩法盘点</small>
                    </div>
                  </div>
                </div>
              </div>
      
            </div>
          </div>
        </div>

        <div class="section-title">
          <h2>Malaysia</h2>
          <h3>马来西亚</h3>
        </div>

        <div class="card">
          <div class="container">
      
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">

              <div class="col">
                <div class="card shadow-sm">      
                  <img src="../static/assets/img/explorepage/fun/1.jpg" alt="" style="height:160px; border-radius: 0.375rem; background-size: cover;">
                  
                  <div class="card-body">
                    <h6 class="card-title">曼谷文艺玩法大总结，这么玩才够范！</h6>
                    <p class="card-text">目的地：曼谷</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://www.mafengwo.cn/gonglve/ziyouxing/54304.html">查看</a></button>
                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="login.html">收藏</a></button>
                      </div>
                      <small class="text-muted">文艺玩法盘点</small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card shadow-sm">      
                  <img src="../static/assets/img/explorepage/fun/1.jpg" alt="" style="height:160px; border-radius: 0.375rem; background-size: cover;">
                  
                  <div class="card-body">
                    <h6 class="card-title">曼谷文艺玩法大总结，这么玩才够范！</h6>
                    <p class="card-text">目的地：曼谷</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://www.mafengwo.cn/gonglve/ziyouxing/54304.html">查看</a></button>
                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="login.html">收藏</a></button>
                      </div>
                      <small class="text-muted">文艺玩法盘点</small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card shadow-sm">      
                  <img src="../static/assets/img/explorepage/fun/1.jpg" alt="" style="height:160px; border-radius: 0.375rem; background-size: cover;">
                  
                  <div class="card-body">
                    <h6 class="card-title">曼谷文艺玩法大总结，这么玩才够范！</h6>
                    <p class="card-text">目的地：曼谷</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://www.mafengwo.cn/gonglve/ziyouxing/54304.html">查看</a></button>
                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="login.html">收藏</a></button>
                      </div>
                      <small class="text-muted">文艺玩法盘点</small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card shadow-sm">      
                  <img src="../static/assets/img/explorepage/fun/1.jpg" alt="" style="height:160px; border-radius: 0.375rem; background-size: cover;">
                  
                  <div class="card-body">
                    <h6 class="card-title">曼谷文艺玩法大总结，这么玩才够范！</h6>
                    <p class="card-text">目的地：曼谷</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://www.mafengwo.cn/gonglve/ziyouxing/54304.html">查看</a></button>
                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="login.html">收藏</a></button>
                      </div>
                      <small class="text-muted">文艺玩法盘点</small>
                    </div>
                  </div>
                </div>
              </div>
      
            </div>
          </div>
        </div>

        <div class="section-title">
          <h2>Vietnam</h2>
          <h3>越南</h3>
        </div>

        <div class="card">
          <div class="container">
      
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">

              <div class="col">
                <div class="card shadow-sm">      
                  <img src="../static/assets/img/explorepage/fun/1.jpg" alt="" style="height:160px; border-radius: 0.375rem; background-size: cover;">
                  
                  <div class="card-body">
                    <h6 class="card-title">曼谷文艺玩法大总结，这么玩才够范！</h6>
                    <p class="card-text">目的地：曼谷</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://www.mafengwo.cn/gonglve/ziyouxing/54304.html">查看</a></button>
                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="login.html">收藏</a></button>
                      </div>
                      <small class="text-muted">文艺玩法盘点</small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card shadow-sm">      
                  <img src="../static/assets/img/explorepage/fun/1.jpg" alt="" style="height:160px; border-radius: 0.375rem; background-size: cover;">
                  
                  <div class="card-body">
                    <h6 class="card-title">曼谷文艺玩法大总结，这么玩才够范！</h6>
                    <p class="card-text">目的地：曼谷</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://www.mafengwo.cn/gonglve/ziyouxing/54304.html">查看</a></button>
                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="login.html">收藏</a></button>
                      </div>
                      <small class="text-muted">文艺玩法盘点</small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card shadow-sm">      
                  <img src="../static/assets/img/explorepage/fun/1.jpg" alt="" style="height:160px; border-radius: 0.375rem; background-size: cover;">
                  
                  <div class="card-body">
                    <h6 class="card-title">曼谷文艺玩法大总结，这么玩才够范！</h6>
                    <p class="card-text">目的地：曼谷</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://www.mafengwo.cn/gonglve/ziyouxing/54304.html">查看</a></button>
                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="login.html">收藏</a></button>
                      </div>
                      <small class="text-muted">文艺玩法盘点</small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card shadow-sm">      
                  <img src="../static/assets/img/explorepage/fun/1.jpg" alt="" style="height:160px; border-radius: 0.375rem; background-size: cover;">
                  
                  <div class="card-body">
                    <h6 class="card-title">曼谷文艺玩法大总结，这么玩才够范！</h6>
                    <p class="card-text">目的地：曼谷</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://www.mafengwo.cn/gonglve/ziyouxing/54304.html">查看</a></button>
                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="login.html">收藏</a></button>
                      </div>
                      <small class="text-muted">文艺玩法盘点</small>
                    </div>
                  </div>
                </div>
              </div>
      
            </div>
          </div>
        </div>

        <div class="section-title">
          <h2>Phillipines</h2>
          <h3>菲律宾</h3>
        </div>

        <div class="card">
          <div class="container">
      
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">

              <div class="col">
                <div class="card shadow-sm">      
                  <img src="../static/assets/img/explorepage/fun/1.jpg" alt="" style="height:160px; border-radius: 0.375rem; background-size: cover;">
                  
                  <div class="card-body">
                    <h6 class="card-title">曼谷文艺玩法大总结，这么玩才够范！</h6>
                    <p class="card-text">目的地：曼谷</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://www.mafengwo.cn/gonglve/ziyouxing/54304.html">查看</a></button>
                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="login.html">收藏</a></button>
                      </div>
                      <small class="text-muted">文艺玩法盘点</small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card shadow-sm">      
                  <img src="../static/assets/img/explorepage/fun/1.jpg" alt="" style="height:160px; border-radius: 0.375rem; background-size: cover;">
                  
                  <div class="card-body">
                    <h6 class="card-title">曼谷文艺玩法大总结，这么玩才够范！</h6>
                    <p class="card-text">目的地：曼谷</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://www.mafengwo.cn/gonglve/ziyouxing/54304.html">查看</a></button>
                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="login.html">收藏</a></button>
                      </div>
                      <small class="text-muted">文艺玩法盘点</small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card shadow-sm">      
                  <img src="../static/assets/img/explorepage/fun/1.jpg" alt="" style="height:160px; border-radius: 0.375rem; background-size: cover;">
                  
                  <div class="card-body">
                    <h6 class="card-title">曼谷文艺玩法大总结，这么玩才够范！</h6>
                    <p class="card-text">目的地：曼谷</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://www.mafengwo.cn/gonglve/ziyouxing/54304.html">查看</a></button>
                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="login.html">收藏</a></button>
                      </div>
                      <small class="text-muted">文艺玩法盘点</small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card shadow-sm">      
                  <img src="../static/assets/img/explorepage/fun/1.jpg" alt="" style="height:160px; border-radius: 0.375rem; background-size: cover;">
                  
                  <div class="card-body">
                    <h6 class="card-title">曼谷文艺玩法大总结，这么玩才够范！</h6>
                    <p class="card-text">目的地：曼谷</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://www.mafengwo.cn/gonglve/ziyouxing/54304.html">查看</a></button>
                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="login.html">收藏</a></button>
                      </div>
                      <small class="text-muted">文艺玩法盘点</small>
                    </div>
                  </div>
                </div>
              </div>
      
            </div>
          </div>
        </div>

        <div class="section-title">
          <h2>Myanmar</h2>
          <h3>缅甸</h3>
        </div>

        <div class="card">
          <div class="container">
      
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">

              <div class="col">
                <div class="card shadow-sm">      
                  <img src="../static/assets/img/explorepage/fun/1.jpg" alt="" style="height:160px; border-radius: 0.375rem; background-size: cover;">
                  
                  <div class="card-body">
                    <h6 class="card-title">曼谷文艺玩法大总结，这么玩才够范！</h6>
                    <p class="card-text">目的地：曼谷</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://www.mafengwo.cn/gonglve/ziyouxing/54304.html">查看</a></button>
                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="login.html">收藏</a></button>
                      </div>
                      <small class="text-muted">文艺玩法盘点</small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card shadow-sm">      
                  <img src="../static/assets/img/explorepage/fun/1.jpg" alt="" style="height:160px; border-radius: 0.375rem; background-size: cover;">
                  
                  <div class="card-body">
                    <h6 class="card-title">曼谷文艺玩法大总结，这么玩才够范！</h6>
                    <p class="card-text">目的地：曼谷</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://www.mafengwo.cn/gonglve/ziyouxing/54304.html">查看</a></button>
                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="login.html">收藏</a></button>
                      </div>
                      <small class="text-muted">文艺玩法盘点</small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card shadow-sm">      
                  <img src="../static/assets/img/explorepage/fun/1.jpg" alt="" style="height:160px; border-radius: 0.375rem; background-size: cover;">
                  
                  <div class="card-body">
                    <h6 class="card-title">曼谷文艺玩法大总结，这么玩才够范！</h6>
                    <p class="card-text">目的地：曼谷</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://www.mafengwo.cn/gonglve/ziyouxing/54304.html">查看</a></button>
                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="login.html">收藏</a></button>
                      </div>
                      <small class="text-muted">文艺玩法盘点</small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card shadow-sm">      
                  <img src="../static/assets/img/explorepage/fun/1.jpg" alt="" style="height:160px; border-radius: 0.375rem; background-size: cover;">
                  
                  <div class="card-body">
                    <h6 class="card-title">曼谷文艺玩法大总结，这么玩才够范！</h6>
                    <p class="card-text">目的地：曼谷</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://www.mafengwo.cn/gonglve/ziyouxing/54304.html">查看</a></button>
                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="login.html">收藏</a></button>
                      </div>
                      <small class="text-muted">文艺玩法盘点</small>
                    </div>
                  </div>
                </div>
              </div>
      
            </div>
          </div>
        </div>

        <div class="section-title">
          <h2>Laos</h2>
          <h3>老挝</h3>
        </div>

        <div class="card">
          <div class="container">
      
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">

              <div class="col">
                <div class="card shadow-sm">      
                  <img src="../static/assets/img/explorepage/fun/1.jpg" alt="" style="height:160px; border-radius: 0.375rem; background-size: cover;">
                  
                  <div class="card-body">
                    <h6 class="card-title">曼谷文艺玩法大总结，这么玩才够范！</h6>
                    <p class="card-text">目的地：曼谷</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://www.mafengwo.cn/gonglve/ziyouxing/54304.html">查看</a></button>
                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="login.html">收藏</a></button>
                      </div>
                      <small class="text-muted">文艺玩法盘点</small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card shadow-sm">      
                  <img src="../static/assets/img/explorepage/fun/1.jpg" alt="" style="height:160px; border-radius: 0.375rem; background-size: cover;">
                  
                  <div class="card-body">
                    <h6 class="card-title">曼谷文艺玩法大总结，这么玩才够范！</h6>
                    <p class="card-text">目的地：曼谷</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://www.mafengwo.cn/gonglve/ziyouxing/54304.html">查看</a></button>
                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="login.html">收藏</a></button>
                      </div>
                      <small class="text-muted">文艺玩法盘点</small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card shadow-sm">      
                  <img src="../static/assets/img/explorepage/fun/1.jpg" alt="" style="height:160px; border-radius: 0.375rem; background-size: cover;">
                  
                  <div class="card-body">
                    <h6 class="card-title">曼谷文艺玩法大总结，这么玩才够范！</h6>
                    <p class="card-text">目的地：曼谷</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://www.mafengwo.cn/gonglve/ziyouxing/54304.html">查看</a></button>
                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="login.html">收藏</a></button>
                      </div>
                      <small class="text-muted">文艺玩法盘点</small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card shadow-sm">      
                  <img src="../static/assets/img/explorepage/fun/1.jpg" alt="" style="height:160px; border-radius: 0.375rem; background-size: cover;">
                  
                  <div class="card-body">
                    <h6 class="card-title">曼谷文艺玩法大总结，这么玩才够范！</h6>
                    <p class="card-text">目的地：曼谷</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://www.mafengwo.cn/gonglve/ziyouxing/54304.html">查看</a></button>
                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="login.html">收藏</a></button>
                      </div>
                      <small class="text-muted">文艺玩法盘点</small>
                    </div>
                  </div>
                </div>
              </div>
      
            </div>
          </div>
        </div>

        <div class="section-title">
          <h2>Indonesia</h2>
          <h3>印度尼西亚</h3>
        </div>

        <div class="card">
          <div class="container">
      
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">

              <div class="col">
                <div class="card shadow-sm">      
                  <img src="../static/assets/img/explorepage/fun/1.jpg" alt="" style="height:160px; border-radius: 0.375rem; background-size: cover;">
                  
                  <div class="card-body">
                    <h6 class="card-title">曼谷文艺玩法大总结，这么玩才够范！</h6>
                    <p class="card-text">目的地：曼谷</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://www.mafengwo.cn/gonglve/ziyouxing/54304.html">查看</a></button>
                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="login.html">收藏</a></button>
                      </div>
                      <small class="text-muted">文艺玩法盘点</small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card shadow-sm">      
                  <img src="../static/assets/img/explorepage/fun/1.jpg" alt="" style="height:160px; border-radius: 0.375rem; background-size: cover;">
                  
                  <div class="card-body">
                    <h6 class="card-title">曼谷文艺玩法大总结，这么玩才够范！</h6>
                    <p class="card-text">目的地：曼谷</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://www.mafengwo.cn/gonglve/ziyouxing/54304.html">查看</a></button>
                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="login.html">收藏</a></button>
                      </div>
                      <small class="text-muted">文艺玩法盘点</small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card shadow-sm">      
                  <img src="../static/assets/img/explorepage/fun/1.jpg" alt="" style="height:160px; border-radius: 0.375rem; background-size: cover;">
                  
                  <div class="card-body">
                    <h6 class="card-title">曼谷文艺玩法大总结，这么玩才够范！</h6>
                    <p class="card-text">目的地：曼谷</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://www.mafengwo.cn/gonglve/ziyouxing/54304.html">查看</a></button>
                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="login.html">收藏</a></button>
                      </div>
                      <small class="text-muted">文艺玩法盘点</small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card shadow-sm">      
                  <img src="../static/assets/img/explorepage/fun/1.jpg" alt="" style="height:160px; border-radius: 0.375rem; background-size: cover;">
                  
                  <div class="card-body">
                    <h6 class="card-title">曼谷文艺玩法大总结，这么玩才够范！</h6>
                    <p class="card-text">目的地：曼谷</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://www.mafengwo.cn/gonglve/ziyouxing/54304.html">查看</a></button>
                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="login.html">收藏</a></button>
                      </div>
                      <small class="text-muted">文艺玩法盘点</small>
                    </div>
                  </div>
                </div>
              </div>
      
            </div>
          </div>
        </div>

    </section><!-- End Filter-Thailand Section -->



  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <a href="index.html" class="logo-footer"><img src="../static/assets/img/homepage/logo/logo-en-blue.png" alt="" class="img-fluid-footer"></a>
            <p>
              我们旨在通过集合多平台旅行规划信息、连接旅行者和旅行社，帮助每一位港漂朋友更加便捷、省心、个性化地规划东南亚出国游行程<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>携手我们</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="about.html">关于我们</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="about.html">会员体系</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="about.html">旅行社入驻</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>友情链接</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="https://flights.ctrip.com/online/channel/domestic?allianceid=4899&sid=1853552&utm_medium=google&utm_campaign=pp&utm_source=googleppc&https://flights.ctrip.com/?allianceid=4899&sid=1853552&utm_medium=google&utm_campaign=pp&utm_source=googleppc&gclid=Cj0KCQiAg_KbBhDLARIsANx7wAz_sSCZoc34gWfEybcdGTuqUe2LWP3htehKPhEnvojUIpLfc3vZkqMaAgQIEALw_wcB&gclsrc=aw.ds&keywordid=296901866639-70570537097">机票预定</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://www.ctrip.com/?sid=155989&allianceid=4899&gclid=Cj0KCQiAg_KbBhDLARIsANx7wAyLtQhZOEI_X_1mJ4zGNGLAbHMxDqq64ul3t6UJ7rE-SGrHuFepGqgaAjeQEALw_wcB&gclsrc=aw.ds&keywordid=298703371398-72670506472">酒店预定</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://worldweather.wmo.int/zh/home.html">天气查询</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>联系方式</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i><a href="#">1155177826@link.cuhk.edu.hk</a></li>
            </ul>
          </div>

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>TriPlanner</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/tempo-free-onepage-bootstrap-theme/ -->
          Designed by BootstrapMade</a>
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../static/assets/js/main.js"></script>

</body>

</html>