<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>TriPlanner - 港漂东南亚出国游规划助手</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/assets/img/favicon.png" rel="icon">
  <link href="../static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static/assets/css/style.css" rel="stylesheet">
 
  <!-- Template JS File -->
  <script type="text/javascript" src="../static/assets/js/main.js"></script>

  <!-- =======================================================
  * Template Name: Tempo - v4.9.1
  * Template URL: https://bootstrapmade.com/tempo-free-onepage-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-between">
      
      <a href="index.html" class="logo-header"><img src="../static/assets/img/homepage/logo/logo-en-white.png" alt="" class="img-fluid"></a>

      <!-- .navbar -->
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="index.html">主页</a></li>
          <li class="dropdown"><a href="explore.html"><span>发现</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="explore.html">发现好去处</a></li>
              <li><a href="login.html">定制游</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="tips.html">交流</a></li>
          <li><a class="nav-link scrollto " href="visa.html">签证</a></li>
          <li><a class="nav-link scrollto" href="login.html">我的</a></li>
          <li><a class="nav-link scrollto" href="login.html">登录/注册</a></li>
          <li><a class="nav-link scrollto" href="about.html">关于</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <section id="banner-visa">
    <div class="banner-visa-container">
      <h1>签证</h1>
      <p>超全签证办理攻略，更有签证代办“小助手”</p>
    </div>
  </section><!-- End Hero Section -->

  <main id="main">

    <!-- ======= Visa-tips Section ======= -->
    <section id="visa-tips" class="visa-tips">
      <div class="container">

        <div class="section-title">
          <h2>Self-application</h2>
          <h3>签证<span>攻略</span></h3>
          <p>查看签证自主办理流程、材料、办理地点</p>
        </div>

        <div class="card">
          <div class="container">
      
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">

              <div class="col">
                <div class="card shadow-sm">      
                  <img src="../static/assets/img/visapage/visa-tips-thailand.jpg" alt="" style="height:160px; border-radius: 0.375rem; background-size: cover;">
                  
                  <div class="card-body">
                    <h6 class="card-title">泰国</h6>
                    <p class="card-text">办理难度：⭐⭐</p>
                    <div class="d-flex justify-content-between align-items-center">

                      <div class="btn-group">

                        <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#visa-application-1">查看</button>
                        <div class="modal fade fade-in" id="visa-application-1" tabindex="-1" role="dialog" aria-labelledby="exampleFadeInModalLabel" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content"> 
                              <div class="modal-header"> 
                                <h5 class="modal-title" id="exampleModalLabel">泰国签证攻略</h5>
                                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="btn-close"></button>
                              </div> 

                              <div class="modal-body"> 
                                <div class="accordion" id="accordion-thailand">
                                  <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingOne">
                                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-1-1" aria-expanded="true" aria-controls="collapseOne">
                                        01. 签证材料
                                      </button>
                                    </h2>
                                    <div id="collapse-1-1" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordion-thailand">
                                      <div class="accordion-body">
                                        <strong>个人信息：</strong>香港身份证、护照（有效期剩余至少6个月）、个人电话号码、英文版香港住址证明<br>
                                        <strong>照片：</strong>正面白底彩色近照1张（3.8厘米 X 5厘米）<br>
                                        <strong>经济证明：</strong>英文版银行存款证明，需在连续3个月内每月有5000港币余额<br>
                                        <strong>出行证明：</strong>往返机票、旅行酒店住宿证明<br>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingTwo">
                                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-1-2" aria-expanded="false" aria-controls="collapseTwo">
                                        02. 出签概况
                                      </button>
                                    </h2>
                                    <div id="collapse-1-2" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordion-thailand">
                                      <div class="accordion-body">
                                        <strong>类型：</strong>电子签证<br>
                                        <strong>办理时长：</strong>5-7个工作日，不包括泰国公共假期，最终出签时间由领事馆决定<br>
                                        <strong>有效期：</strong>有效期90天，入境后可停留60天
                                      </div>
                                    </div>
                                  </div>
                                  <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingThree">
                                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-1-3" aria-expanded="false" aria-controls="collapseThree">
                                        03. 办理地点
                                      </button>
                                    </h2>
                                    <div id="collapse-1-3" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordion-thailand">
                                      <div class="accordion-body">
                                        <strong>地点：</strong>泰国驻香港总领事馆，中环红棉路8号东昌大厦8楼<br>
                                        <strong>开放时间：</strong>9:00-17:00，周一到周五<br>
                                        <strong>联系方式：</strong>电话+852 2521 6481、邮箱thaicghk@thai-consulate.org.hk<br>
                                        <strong>网站：</strong>https://hongkong.thaiembassy.org/en/index<br>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              
                              <div class="modal-footer">
                                <button class="btn btn-secondary btn-sm" type="button" data-bs-dismiss="modal">关闭</button>
                              </div> 
                            </div> 
                          </div>
                        </div>

                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="login.html">收藏</a></button>
                      </div>
                      <small class="text-muted">2022年11月更新</small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card shadow-sm">      
                  <img src="../static/assets/img/visapage/visa-tips-singapore.jpg" alt="" style="height:160px; border-radius: 0.375rem; background-size: cover;">
                  
                  <div class="card-body">
                    <h6 class="card-title">新加坡</h6>
                    <p class="card-text">办理难度：⭐⭐</p>
                    <div class="d-flex justify-content-between align-items-center">

                      <div class="btn-group">

                        <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#visa-application-2">查看</button>
                        <div class="modal fade fade-in" id="visa-application-2" tabindex="-1" role="dialog" aria-labelledby="exampleFadeInModalLabel" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content"> 
                              <div class="modal-header"> 
                                <h5 class="modal-title" id="exampleModalLabel">新加坡签证攻略</h5>
                                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="btn-close"></button>
                              </div> 

                              <div class="modal-body"> 
                                <div class="accordion" id="accordion-singapore">
                                  <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingOne">
                                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-2-1" aria-expanded="true" aria-controls="collapse-2-1">
                                        01. 签证材料
                                      </button>
                                    </h2>
                                    <div id="collapse-2-1" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordion-singapore">
                                      <div class="accordion-body">
                                        <strong>个人信息：</strong>护照（有效期剩余至少6个月）、港澳通行证、香港身份证、内地身份证、入境香港签注<br>
                                        <strong>照片：</strong>正面白底彩色近照1张（3.5厘米 X 4.5厘米）<br>
                                        <strong>经济证明：</strong>英文版银行存款证明，或者学生证<br>
                                        <strong>出行证明：</strong>往返机票证明<br>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingTwo">
                                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-2-2" aria-expanded="false" aria-controls="collapse-2-2">
                                        02. 出签概况
                                      </button>
                                    </h2>
                                    <div id="collapse-2-2" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordion-singapore">
                                      <div class="accordion-body">
                                        <strong>类型：</strong>观光签证<br>
                                        <strong>办理时长：</strong>5-7个工作日<br>
                                        <strong>有效期：</strong>有效期30天，入境后可停留14天
                                      </div>
                                    </div>
                                  </div>
                                  <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingThree">
                                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-2-3" aria-expanded="false" aria-controls="collapse-2-3">
                                        03. 办理地点
                                      </button>
                                    </h2>
                                    <div id="collapse-2-3" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordion-singapore">
                                      <div class="accordion-body">
                                        <strong>地点：</strong>新加坡驻香港总领事馆，中环海富中心写字楼1座901室<br>
                                        <strong>开放时间：</strong>9:00-12:30，14:00-17:30，周一到周五<br>
                                        <strong>联系方式：</strong>电话+852 2527 2212、邮箱singcg_hkg@mfa.sg<br>
                                        <strong>网站：</strong>https://www.mfa.gov.sg/hongkong<br>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              
                              <div class="modal-footer">
                                <button class="btn btn-secondary btn-sm" type="button" data-bs-dismiss="modal">关闭</button>
                              </div> 
                            </div> 
                          </div>
                        </div>

                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="login.html">收藏</a></button>
                      </div>
                      <small class="text-muted">2022年11月更新</small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card shadow-sm">      
                  <img src="../static/assets/img/visapage/visa-tips-malaysia.jpg" alt="" style="height:160px; border-radius: 0.375rem; background-size: cover;">
                  
                  <div class="card-body">
                    <h6 class="card-title">马来西亚</h6>
                    <p class="card-text">办理难度：⭐⭐⭐</p>
                    <div class="d-flex justify-content-between align-items-center">

                      <div class="btn-group">

                        <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#visa-application-3">查看</button>
                        <div class="modal fade fade-in" id="visa-application-3" tabindex="-1" role="dialog" aria-labelledby="exampleFadeInModalLabel" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content"> 
                              <div class="modal-header"> 
                                <h5 class="modal-title" id="exampleModalLabel">马来西亚签证攻略</h5>
                                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="btn-close"></button>
                              </div> 

                              <div class="modal-body"> 
                                <div class="accordion" id="accordion-malaysia">
                                  <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingOne">
                                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-3-1" aria-expanded="true" aria-controls="collapse-3-1">
                                        01. 签证材料
                                      </button>
                                    </h2>
                                    <div id="collapse-3-1" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordion-malaysia">
                                      <div class="accordion-body">
                                        <strong>个人信息：</strong>香港身份证、护照<br>
                                        <strong>照片：</strong>正面白底彩色近照1张（护照大小）<br>
                                        <strong>经济证明：</strong>信用卡、借记卡或PayPal<br>
                                        <strong>出行证明：</strong>往返机票、旅行酒店住宿证明<br>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingTwo">
                                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-3-2" aria-expanded="false" aria-controls="collapse-3-1">
                                        02. 出签概况
                                      </button>
                                    </h2>
                                    <div id="collapse-3-2" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordion-malaysia">
                                      <div class="accordion-body">
                                        <strong>类型：</strong>旅游签证<br>
                                        <strong>办理时长：</strong>5-7个工作日<br>
                                        <strong>有效期：</strong>有效期90天，入境后可停留30天
                                      </div>
                                    </div>
                                  </div>
                                  <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingThree">
                                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-3-3" aria-expanded="false" aria-controls="collapseThree">
                                        03. 办理地点
                                      </button>
                                    </h2>
                                    <div id="collapse-3-3" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordion-malaysia">
                                      <div class="accordion-body">
                                        <strong>地点：</strong>马来西亚驻香港总领事馆，湾仔告士打道50号马来西亚大厦24楼<br>
                                        <strong>开放时间：</strong>9:00-12:00，14:00-16:00周一到周五<br>
                                        <strong>联系方式：</strong>电话+852 2821 0823、邮箱hongkong@imi.gov.my<br>
                                        <strong>网站：</strong>https://www.kln.gov.my/web/chn_hong-kong/home<br>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              
                              <div class="modal-footer">
                                <button class="btn btn-secondary btn-sm" type="button" data-bs-dismiss="modal">关闭</button>
                              </div> 
                            </div> 
                          </div>
                        </div>
                        
                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="login.html">收藏</a></button>
                      </div>

                      <small class="text-muted">2022年11月更新</small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card shadow-sm">      
                  <img src="../static/assets/img/visapage/visa-tips-vietnam.jpg" alt="" style="height:160px; border-radius: 0.375rem; background-size: cover;">
                  
                  <div class="card-body">
                    <h6 class="card-title">越南</h6>
                    <p class="card-text">办理难度：⭐⭐</p>
                    <div class="d-flex justify-content-between align-items-center">

                      <div class="btn-group">

                        <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#visa-application-4">查看</button>
                        <div class="modal fade fade-in" id="visa-application-4" tabindex="-1" role="dialog" aria-labelledby="exampleFadeInModalLabel" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content"> 
                              <div class="modal-header"> 
                                <h5 class="modal-title" id="exampleModalLabel">越南签证攻略</h5>
                                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="btn-close"></button>
                              </div> 

                              <div class="modal-body"> 
                                <div class="accordion" id="accordion-vietnam">
                                  <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingOne">
                                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-4-1" aria-expanded="true" aria-controls="collapse-4-1">
                                        01. 签证材料
                                      </button>
                                    </h2>
                                    <div id="collapse-4-1" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordion-vietnam">
                                      <div class="accordion-body">
                                        <strong>个人信息：</strong>香港身份证、护照、英文版香港住址证明、宗教信仰<br>
                                        <strong>照片：</strong>正面白底彩色近照1张（3.5厘米 X 4.5厘米）<br>
                                        <strong>出行证明：</strong>往返机票、旅行酒店住宿证明，如通过陆路和水路到达，需提供到达和离开口岸名称<br>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingTwo">
                                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-4-2" aria-expanded="false" aria-controls="collapse-4-2">
                                        02. 出签概况
                                      </button>
                                    </h2>
                                    <div id="collapse-4-2" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordion-vietnam">
                                      <div class="accordion-body">
                                        <strong>类型：</strong>单次旅游签证<br>
                                        <strong>办理时长：</strong>4个工作日<br>
                                        <strong>有效期：</strong>以申请入境日期计算起30天內
                                      </div>
                                    </div>
                                  </div>
                                  <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingThree">
                                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-4-3" aria-expanded="false" aria-controls="collapse-4-3">
                                        03. 办理地点
                                      </button>
                                    </h2>
                                    <div id="collapse-4-3" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordion-vietnam">
                                      <div class="accordion-body">
                                        <strong>地点：</strong>越南驻香港总领事馆，湾仔湾仔道230号佳诚大厦15楼<br>
                                        <strong>开放时间：</strong>14:00-17:00，周一到周五<br>
                                        <strong>联系方式：</strong>电话+852 2835 9318、邮箱vnconsul.hongkong@mofa.gov.vn<br>
                                        <strong>网站：</strong>https://www.mofa.gov.vn/en<br>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              
                              <div class="modal-footer">
                                <button class="btn btn-secondary btn-sm" type="button" data-bs-dismiss="modal">关闭</button>
                              </div> 
                            </div> 
                          </div>
                        </div>

                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="login.html">收藏</a></button>
                      </div>

                      <small class="text-muted">2022年11月更新</small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card shadow-sm">      
                  <img src="../static/assets/img/visapage/visa-tips-phillipines.jpg" alt="" style="height:160px; border-radius: 0.375rem; background-size: cover;">
                  
                  <div class="card-body">
                    <h6 class="card-title">菲律宾</h6>
                    <p class="card-text">办理难度：⭐</p>
                    <div class="d-flex justify-content-between align-items-center">

                      <div class="btn-group">

                        <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#visa-application-5">查看</button>
                        <div class="modal fade fade-in" id="visa-application-5" tabindex="-1" role="dialog" aria-labelledby="exampleFadeInModalLabel" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content"> 
                              <div class="modal-header"> 
                                <h5 class="modal-title" id="exampleModalLabel">菲律宾签证攻略</h5>
                                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="btn-close"></button>
                              </div> 

                              <div class="modal-body"> 
                                <div class="accordion" id="accordion-phillipines">
                                  <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingOne">
                                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-5-1" aria-expanded="true" aria-controls="collapse-5-1">
                                        01. 签证材料
                                      </button>
                                    </h2>
                                    <div id="collapse-5-1" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordion-phillipines">
                                      <div class="accordion-body">
                                        <strong>个人信息：</strong>香港身份证、护照、英文版香港住址证明、疫苗接种证明、行程规划<br>
                                        <strong>照片：</strong>正面白底彩色近照1张<br>
                                        <strong>经济证明：</strong>英文版银行存款证明，需在连续6个月内每月有20,000港币余额<br>
                                        <strong>出行证明：</strong>往返机票、旅行酒店住宿证明<br>
                                        <small class="text-muted">*持有美国/日本/澳大利亚/加拿大/申根签的中国公民可免签，在菲律宾境内停留不超过7天</small>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingTwo">
                                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-5-2" aria-expanded="false" aria-controls="collapse-5-2">
                                        02. 出签概况
                                      </button>
                                    </h2>
                                    <div id="collapse-5-2" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordion-phillipines">
                                      <div class="accordion-body">
                                        <strong>类型：</strong>旅游签证<br>
                                        <strong>办理时长：</strong>2个工作日<br>
                                        <strong>有效期：</strong>入境后可停留21天
                                      </div>
                                    </div>
                                  </div>
                                  <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingThree">
                                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-myanmar" aria-expanded="false" aria-controls="collapse-5-3">
                                        03. 办理地点
                                      </button>
                                    </h2>
                                    <div id="collapse-5-3" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordion-phillipines">
                                      <div class="accordion-body">
                                        <strong>地点：</strong>菲律宾驻香港总领事馆，金钟金钟道95号统一中心14楼<br>
                                        <strong>开放时间：</strong>9:00-16:00，周日到周四<br>
                                        <strong>联系方式：</strong>电话+852 2823 8500、邮箱visa.hkpcg@gmail.com <br>
                                        <strong>网站：</strong>https://hongkongpcg.dfa.gov.ph<br>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              
                              <div class="modal-footer">
                                <button class="btn btn-secondary btn-sm" type="button" data-bs-dismiss="modal">关闭</button>
                              </div> 
                            </div> 
                          </div>
                        </div>

                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="login.html">收藏</a></button>
                      </div>

                      <small class="text-muted">2022年11月更新</small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card shadow-sm">      
                  <img src="../static/assets/img/visapage/visa-tips-myanmar.jpg" alt="" style="height:160px; border-radius: 0.375rem; background-size: cover;">
                  
                  <div class="card-body">
                    <h6 class="card-title">缅甸</h6>
                    <p class="card-text">办理难度：⭐⭐⭐</p>
                    <div class="d-flex justify-content-between align-items-center">

                      <div class="btn-group">

                        <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#visa-application-6">查看</button>
                        <div class="modal fade fade-in" id="visa-application-6" tabindex="-1" role="dialog" aria-labelledby="exampleFadeInModalLabel" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content"> 
                              <div class="modal-header"> 
                                <h5 class="modal-title" id="exampleModalLabel">缅甸签证攻略</h5>
                                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="btn-close"></button>
                              </div> 

                              <div class="modal-body"> 
                                <div class="accordion" id="accordion-myanmar">
                                  <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingOne">
                                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-6-1" aria-expanded="true" aria-controls="collapse-6-1">
                                        01. 签证材料
                                      </button>
                                    </h2>
                                    <div id="collapse-6-1" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordion-myanmar">
                                      <div class="accordion-body">
                                        <strong>个人信息：</strong>护照、14天前完成两针疫苗接种证明、入境旅行意外保险单购买证明（需在缅甸保险公司购买）<br>
                                        <strong>照片：</strong>正面白底彩色近照1张（4.6厘米 X 3.8厘米）<br>
                                        <strong>出行证明：</strong>往返机票、旅行酒店住宿证明<br>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingTwo">
                                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-6-2" aria-expanded="false" aria-controls="collapse-6-2">
                                        02. 出签概况
                                      </button>
                                    </h2>
                                    <div id="collapse-6-2" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordion-myanmar">
                                      <div class="accordion-body">
                                        <strong>类型：</strong>电子签证/旅游签证<br>
                                        <strong>办理时长：</strong>3个工作日或以上<br>
                                        <strong>有效期：</strong>有效期90天，入境后可停留28天
                                      </div>
                                    </div>
                                  </div>
                                  <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingThree">
                                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-6-3" aria-expanded="false" aria-controls="collapse-6-3">
                                        03. 办理地点
                                      </button>
                                    </h2>
                                    <div id="collapse-6-3" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordion-myanmar">
                                      <div class="accordion-body">
                                        <strong>地点：</strong>缅甸驻香港总领事馆，湾仔港湾道30号新鸿基中心商场2401-2405室<br>
                                        <strong>开放时间：</strong>9:00-12:30，13:30-17:00，周一到周五<br>
                                        <strong>联系方式：</strong>电话+852 2845 0810、邮箱myancghk@biznetvigator.com<br>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              
                              <div class="modal-footer">
                                <button class="btn btn-secondary btn-sm" type="button" data-bs-dismiss="modal">关闭</button>
                              </div> 
                            </div> 
                          </div>
                        </div>

                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="login.html">收藏</a></button>
                      </div>

                      <small class="text-muted">2022年11月更新</small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card shadow-sm">      
                  <img src="../static/assets/img/visapage/visa-tips-laos.jpg" alt="" style="height:160px; border-radius: 0.375rem; background-size: cover;">
                  
                  <div class="card-body">
                    <h6 class="card-title">老挝</h6>
                    <p class="card-text">办理难度：⭐⭐</p>
                    <div class="d-flex justify-content-between align-items-center">

                      <div class="btn-group">

                        <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#visa-application-7">查看</button>
                        <div class="modal fade fade-in" id="visa-application-7" tabindex="-1" role="dialog" aria-labelledby="exampleFadeInModalLabel" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content"> 
                              <div class="modal-header"> 
                                <h5 class="modal-title" id="exampleModalLabel">泰国签证攻略</h5>
                                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="btn-close"></button>
                              </div> 

                              <div class="modal-body"> 
                                <div class="accordion" id="accordion-laos">
                                  <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingOne">
                                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-7-1" aria-expanded="true" aria-controls="collapse-7-1">
                                        01. 签证材料
                                      </button>
                                    </h2>
                                    <div id="collapse-7-1" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordion-laos">
                                      <div class="accordion-body">
                                        <strong>个人信息：</strong>护照、个人电话号码、英文版香港住址证明、个人电话、职业<br>
                                        <strong>照片：</strong>正面白底彩色近照1张<br>
                                        <strong>出行证明：</strong>往返机票、旅行酒店住宿证明，入境口岸及入境交通公爵<br>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingTwo">
                                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-7-2" aria-expanded="false" aria-controls="collapse-7-2">
                                        02. 出签概况
                                      </button>
                                    </h2>
                                    <div id="collapse-7-2" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordion-laos">
                                      <div class="accordion-body">
                                        <strong>类型：</strong>电子签证<br>
                                        <strong>办理时长：</strong>3个工作日<br>
                                        <strong>有效期：</strong>有效期60天，入境后可停留30天
                                      </div>
                                    </div>
                                  </div>
                                  <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingThree">
                                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-7-3" aria-expanded="false" aria-controls="collapse-7-3">
                                        03. 办理地点
                                      </button>
                                    </h2>
                                    <div id="collapse-7-3" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordion-laos">
                                      <div class="accordion-body">
                                        <strong>地点：</strong>老挝驻香港总领事馆，皇后大道西2至12号联发商业中心1402室<br>
                                        <strong>开放时间：</strong>9:00-12:00，13:30-17:00，周一到周五<br>
                                        <strong>联系方式：</strong>电话+852 2544 1187、邮箱lao01_cons@ctimail.com<br>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              
                              <div class="modal-footer">
                                <button class="btn btn-secondary btn-sm" type="button" data-bs-dismiss="modal">关闭</button>
                              </div> 
                            </div> 
                          </div>
                        </div>

                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="login.html">收藏</a></button>
                      </div>

                      <small class="text-muted">2022年11月更新</small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card shadow-sm">      
                  <img src="../static/assets/img/visapage/visa-tips-indonesia.jpg" alt="" style="height:160px; border-radius: 0.375rem; background-size: cover;">
                  
                  <div class="card-body">
                    <h6 class="card-title">印度尼西亚</h6>
                    <p class="card-text">办理难度：⭐⭐⭐⭐⭐</p>
                    <div class="d-flex justify-content-between align-items-center">

                      <div class="btn-group">

                        <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#visa-application-8">查看</button>
                        <div class="modal fade fade-in" id="visa-application-8" tabindex="-1" role="dialog" aria-labelledby="exampleFadeInModalLabel" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content"> 
                              <div class="modal-header"> 
                                <h5 class="modal-title" id="exampleModalLabel">印度尼西亚签证攻略</h5>
                                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="btn-close"></button>
                              </div> 

                              <div class="modal-body"> 
                                <div class="accordion" id="accordion-indonesia">
                                  <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingOne">
                                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-8-1" aria-expanded="true" aria-controls="collapse-8-1">
                                        01. 签证材料
                                      </button>
                                    </h2>
                                    <div id="collapse-8-1" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordion-indonesia">
                                      <div class="accordion-body">
                                        <strong>个人信息：</strong>香港签证身份书、英文版香港住址证明、邮箱、旅行保险证明、公司名称电话和地址、完成3针世卫标准新冠疫苗接种证明<br>
                                        <strong>照片：</strong>正面白底彩色近照1张（4厘米 X 6厘米）<br>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingTwo">
                                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-8-2" aria-expanded="false" aria-controls="collapse-8-2">
                                        02. 出签概况
                                      </button>
                                    </h2>
                                    <div id="collapse-8-2" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordion-indonesia">
                                      <div class="accordion-body">
                                        <strong>类型：</strong>单次旅游签证<br>
                                        <strong>办理时长：</strong>10个工作日<br>
                                        <strong>有效期：</strong>入境后可停留30天
                                      </div>
                                    </div>
                                  </div>
                                  <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingThree">
                                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-8-3" aria-expanded="false" aria-controls="collapse-8-3">
                                        03. 办理地点
                                      </button>
                                    </h2>
                                    <div id="collapse-8-3" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordion-indonesia">
                                      <div class="accordion-body">
                                        <strong>地点：</strong>印度尼西亚驻香港总领事馆，铜锣湾礼顿道127-129号印尼大厦<br>
                                        <strong>开放时间：</strong>9:00-16:30，周一到周五<br>
                                        <strong>联系方式：</strong>电话+852 3651 0200、邮箱info@cgrihk.com<br>
                                        <strong>网站：</strong>https://kemlu.go.id/hongkong/en<br>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              
                              <div class="modal-footer">
                                <button class="btn btn-secondary btn-sm" type="button" data-bs-dismiss="modal">关闭</button>
                              </div> 
                            </div> 
                          </div>
                        </div>

                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="login.html">收藏</a></button>
                      </div>

                      <small class="text-muted">2022年11月更新</small>
                    </div>
                  </div>
                </div>
              </div>
      
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Visa-tips Section -->
    

    <!-- ======= Visa-helper Section ======= -->
    <section id="visa-helper" class="visa-helper">
      <div class="container">

        <div class="section-title">
          <h2>Visa Helper</h2>
          <h3>代办<span>助手</span></h3>
          <p>没时间，怕麻烦？找签证代办小助手就够了</p>
        </div>

        <div class="card">
          <div class="container">
      
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-3">

              <div class="col">
                <div class="card shadow-sm">      
                                    
                  <div class="card-body">
                    <h6 class="card-title">万福旅行社</h6>
                    <p class="card-text">地址：九龙旺角太子道西141号长荣大厦6楼D室<br>擅长国家：泰国、新加坡</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://66.hk/">咨询</a></button>
                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="login.html">收藏</a></button>
                      </div>
                      <small class="text-muted">好评度：⭐⭐⭐⭐</small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card shadow-sm">      
                                    
                  <div class="card-body">
                    <h6 class="card-title">万福旅行社</h6>
                    <p class="card-text">地址：九龙旺角太子道西141号长荣大厦6楼D室<br>擅长国家：泰国、新加坡</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://66.hk/">咨询</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="login.html">收藏</a></button>
                      </div>
                      <small class="text-muted">好评度：⭐⭐⭐⭐</small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card shadow-sm">      
                                    
                  <div class="card-body">
                    <h6 class="card-title">万福旅行社</h6>
                    <p class="card-text">地址：九龙旺角太子道西141号长荣大厦6楼D室<br>擅长国家：泰国、新加坡</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://66.hk/">咨询</a></button>
                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="login.html">收藏</a></button>
                      </div>
                      <small class="text-muted">好评度：⭐⭐⭐⭐</small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card shadow-sm">      
                                    
                  <div class="card-body">
                    <h6 class="card-title">万福旅行社</h6>
                    <p class="card-text">地址：九龙旺角太子道西141号长荣大厦6楼D室<br>擅长国家：泰国、新加坡</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://66.hk/">咨询</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="login.html">收藏</a></button>
                      </div>
                      <small class="text-muted">好评度：⭐⭐⭐⭐</small>
                    </div>
                  </div>
                </div>
              </div>

              

      
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Visa-helper Section -->



  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <a href="index.html" class="logo-footer"><img src="../static/assets/img/homepage/logo/logo-en-blue.png" alt="" class="img-fluid-footer"></a>
            <p>
              我们旨在通过集合多平台旅行规划信息、连接旅行者和旅行社，帮助每一位港漂朋友更加便捷、省心、个性化地规划东南亚出国游行程<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>携手我们</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="about.html">关于我们</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="about.html">会员体系</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="about.html">旅行社入驻</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>友情链接</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="https://flights.ctrip.com/online/channel/domestic?allianceid=4899&sid=1853552&utm_medium=google&utm_campaign=pp&utm_source=googleppc&https://flights.ctrip.com/?allianceid=4899&sid=1853552&utm_medium=google&utm_campaign=pp&utm_source=googleppc&gclid=Cj0KCQiAg_KbBhDLARIsANx7wAz_sSCZoc34gWfEybcdGTuqUe2LWP3htehKPhEnvojUIpLfc3vZkqMaAgQIEALw_wcB&gclsrc=aw.ds&keywordid=296901866639-70570537097">机票预定</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://www.ctrip.com/?sid=155989&allianceid=4899&gclid=Cj0KCQiAg_KbBhDLARIsANx7wAyLtQhZOEI_X_1mJ4zGNGLAbHMxDqq64ul3t6UJ7rE-SGrHuFepGqgaAjeQEALw_wcB&gclsrc=aw.ds&keywordid=298703371398-72670506472">酒店预定</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://worldweather.wmo.int/zh/home.html">天气查询</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>联系方式</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i><a href="#">1155177826@link.cuhk.edu.hk</a></li>
            </ul>
          </div>

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>TriPlanner</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/tempo-free-onepage-bootstrap-theme/ -->
          Designed by BootstrapMade</a>
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../static/assets/js/main.js"></script>

</body>

</html>